<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <!-- set viewport to device width to make site responsive -->
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- custom styles -->
  <link rel='stylesheet' type='text/css' href='styles/styles.css'>

  <title>Simple Node Server</title>
</head>
<body>
  <div class='main'>
    <h1>Hello World</h1>
    <div class="container">

    </div>
  </div>

<script type='text/javascript' src='scripts/app.js'></script>

</body>
</html>
